doctype html
html
  head
      <script src="https://kit.fontawesome.com/c8a1c4c52f.js" crossorigin="anonymous"></script>
      title #{pageTitle} | #{siteName}
      link(rel="stylesheet", href="/static/style.css")
      
  body
    header
      include ../partials/header
    main
      block content
    include ../partials/footer
    script(src="/static/main.js")
